build --cxxopt="-std=c++17" --cxxopt="-march=native"

build:asan --crosstool_top //tools/lrte:toolchain
build:asan --compiler clang
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

build:profile --copt -O2
build:profile --copt -g
build:profile --copt -fno-omit-frame-pointer
build:profile --strip=never
