build --cxxopt="-std=c++20" --cxxopt="-march=native"

build:asan --crosstool_top //tools/lrte:toolchain
build:asan --compiler clang
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

build:ubsan --crosstool_top //tools/lrte:toolchain
build:ubsan --compiler clang
build:ubsan --strip=never
build:ubsan --copt -fsanitize=undefined
build:ubsan --copt -O1
build:ubsan --copt -g
build:ubsan --copt -fno-omit-frame-pointer
build:ubsan --linkopt -fsanitize=undefined

build:thread --crosstool_top //tools/lrte:toolchain
build:thread --compiler clang
build:thread --strip=never
build:thread --copt -fsanitize=thread
build:thread --copt -O1
build:thread --copt -g
build:thread --copt -fno-omit-frame-pointer
build:thread --linkopt -fsanitize=thread

build:profile --copt -O2
build:profile --copt -g
build:profile --copt -fno-omit-frame-pointer
build:profile --strip=never
